<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="show_sql">true</property>
		<mapping resource="com/alipay/prize/model/prize.hbm.xml"></mapping>
		<mapping resource="com/alipay/prize/model/Alipayer.hbm.xml" />
		<mapping resource="com/alipay/prize/model/LotteryResult.hbm.xml" />
	</session-factory>
</hibernate-configuration>